.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.product-page img {
  width: 100%;
  width: 400px;
  height: 400px;
  display: block;
  margin: 20px 0;
  border-radius: 8px;
  object-fit: contain;
}

.product-page-description {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 3px 3px 3px rgb(68, 68, 68);
  width: 50%;
}

.product-page-description-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
}

.product-back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}
