.form-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.form-input,
.form-textarea {
  width: 80%;
}
.form-input-label {
  font-weight: 600;
}

.form-input-error {
  color: rgb(244, 104, 104);
  margin-left: 20px;
}
