.button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  backface-visibility: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.button:hover {
  transform: scale(1.024);
}

.button.active {
  background: #f8f0f2;
  color: black;
}
