.products-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin: auto;
  width: 80%;
}

h2 {
  text-align: center;
  margin: 1em;
}

.products-active-row {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  border-radius: 8px;
  padding: 12px;
}

.products-active-row-left {
  width: 50%;
}

.products-active-row-right {
  display: flex;
  justify-content: end;
  gap: 16px;
  width: 50%;
}

.products-label {
  margin-right: 2.5%;
  font-weight: 600;
}

.products-search {
  padding: 4px;
  width: 60%;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: 1em;
  gap: 16px;
}

.pagination-bottom {
  display: flex;
  justify-content: center;
  gap: 16px;
}
